.language-selector {
  position: relative;
}

.language-option:hover {
  background-color: #393053 !important;
  color: white !important;
}

.language-option:hover span {
  color: white !important;
}

.language-selector button:hover {
  background-color: #393053;
  color: white;
}
